:root {
  /* colors */
  --primary-color: hsl(160deg, 100%, 30%);
  --secondary-color: hsl(45deg, 100%, 50%);
  --secondary-color-darker: hsl(45deg, 100%, 40%);
  --black-color: hsl(0deg, 0%, 0%);
  --very-dark: hsl(0deg, 0%, 10%);
  --dark: hsl(0deg, 0%, 30%);
  --medium: hsl(0deg, 0%, 40%);
  --light: hsl(0deg, 0%, 60%);
  --white-color: hsl(0deg, 0%, 100%);

  /* spacing */
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 48px;
  --spacing-6: 64px;
  --spacing-7: 96px;
  --spacing-8: 128px;
}

* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

main {
  background-color: var(--medium);
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
  border-top: var(--spacing-1) solid var(--light);
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  margin-bottom: var(--spacing-2);
}

p:last-child {
  margin-bottom: 0;
}

h1 {
  margin: 0;
  margin-bottom: var(--spacing-5);
  font-size: 2rem;
  line-height: 1.2;
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--spacing-3);
}

.intro-chunk {
  padding-top: var(--spacing-7);
  padding-bottom: var(--spacing-6);
  max-width: 415px;
}

strong {
  color: var(--primary-color);
}

.card {
  padding: var(--spacing-3);
  border-bottom: var(--spacing-1) solid var(--light);
  height: max-content;
  background-color: var(--white-color);
  margin: 0 -24px;
}

.indented-heading {
  font-size: 1.5rem;
  line-height: 1.2;
  background-color: var(--secondary-color);
  padding: var(--spacing-2) var(--spacing-4);
  border-bottom: var(--spacing-1) solid var(--secondary-color-darker);
  width: fit-content;
  margin: 0;
  margin-top: -16px;
  margin-left: -32px;
  /* Make this rem so it scales with text sixes */
  margin-bottom: 1rem;
}
